# Dependency directories
node_modules/
jspm_packages/

# TypeScript build output
dist/
lib/
out/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
access.log
error.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory
coverage/
*.lcov

# nyc data
.nyc_output

# Environment variables
.env
.env.test
.env.production
.env.local
.env.*.local

# IDEs
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.idea/

# OS files
.DS_Store
Thumbs.db

# Bun
bun.lockb
